In [1]:
text = "I love Python programming"
print(text[-18:-12])

Python

In [1]:
string = 'mvqugvqhc2ndoi'
print(len(string))
print(string.find('n'))

14
10

In [2]:
abc = "1,000,000"
print(abc)

1,000,000

In [9]:
string = 'I love breaking bad'
print(string.count("a"))

2

## Exercise 1

In [10]:
message = input("Message: ")

message1 = message[::2]
message2 = message[1::2]

print(message1,message2)

Message: bmaunmdbraai
bandra mumbai

In [2]:
t = (1, 2, 4, 3)
print(t[1:-4])

()

In [8]:
x = 1,2
print(type(x))

<class 'tuple'>

In [13]:
tuple = (2,3.2,4,5)
print(sum(tuple))
print(min(tuple))
print(max(tuple))

14.2
2
5

In [12]:
list = list(tuple)
print(list)

[2, 3.2, 4, 5]

In [14]:
t = (1,5,"Disco", ("Python", "Java"))
print(t[3][1][0])

J

In [21]:
fruits = ["apple", "banana"]
fruits.append("pineapple")
print(fruits)

['apple', 'banana', 'pineapple']

In [24]:
input_tuple = ('Monty Python', 'British', 1969)
input_str = input("Input: ")
input_tuple += input_str,
tuple_2 = input_tuple
print(tuple_2)

Input: Pyhton
('Monty Python', 'British', 1969, 'Pyhton')

In [28]:
def add_element_to_tuple(input_tuple):
    input_tuple += ('Python',)
    return input_tuple

input_tuple = ('Monty Python', 'British', 1969)
new_tuple = add_element_to_tuple(input_tuple)
print(new_tuple)

('Monty Python', 'British', 1969, 'Python')

In [30]:
list_1 = [2, 33, 222, 14, 25]
print(list_1[-5])

2

In [31]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [32]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [1]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

## List Comprehensions

In [9]:
cars = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2 = []

for car in cars :
    l2.append(len(car))
print(l2)

# Using List Comprehension
l2 = [len(car) for car in cars]
print(l2)

[11, 5, 4, 6, 14]
[11, 5, 4, 6, 14]